/* You can add global styles to this file, and also import other style files */
html,body{
      height: 100%;
  margin: 0;
  background-color: #f6f4f8;
}

body {
  font-family: 'Red Hat Sans', sans-serif;
}